nav {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  margin-left: 30px;
  color: #3e4794;
  font-size: 14px;
}

.intro-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 30px;
  margin-bottom: -40px;
}

h1 {
  color: #3e4794;
  font-family: "Roboto";
  font-size: 92px;
  position: relative;
  top: 70px;
}

h4 {
  color: rgb(162, 156, 156);
  font-family: "Roboto";
  font-size: 14px;
  position: relative;
  top: 70px;
}
button {
  position: relative;
  top: 70px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(147, 65, 210, 1) 0%,
    rgba(221, 125, 221, 0.8074580173866421) 61%
  );
  border: none;
  border-radius: 80px;
  padding: 10px 80px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.signin-btn {
  height: 20px;
  width: 20px;
  position: relative;
  top: 10px;
  right: 90px;
  font-size: 12px;
  padding: 15px 60px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 30px;
  margin-bottom: -40px;
}

.imgs-div {
  background-size: cover;
}

.vector-img {
  -webkit-transform: rotate(25deg) scale(25);
  position: absolute;
  bottom: 225px;
  right: -290px;
  z-index: -1;
}

.image {
  position: relative;
  left: 60px;
  height: 78%;
}

@media screen and (max-width: 950px) {
  .signin-btn {
    padding: 15px 45px;
    margin-left: 60px;
    position: relative;
    left: 10px;
  }
}
